@import "tailwindcss";

select {
  background-color: #1e293b;
  color: white;
}

option {
  background-color: #1e293b;
  color: white;
}

/* Transición suave entre páginas */
body {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

